h1{
    
    padding-top: 10px;
    text-align: center;
    font-size: 1.75rem;
    color: #205691;
}
p{
    display: flex;
    font-size: 1.4rem;
    text-align: left;
}
imgQuemSomos{
    display: flex;
    width: 10vw;
    height: 5vh;
    background-color: black;
}