.containerTelaInicial {
  background-color: rgb (209, 209, 201);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  div {
    // border: solid yellow;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 17px;
    color: #205691;
  }

  h1 {
    font-size: 4rem;

    //   color: #205691;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.5rem;
    width: 60%;
    // color: #205691;
  }
}

//-------------------------RESPONSIVO

@media (min-width: 201px) and (max-width: 500px) {
  .containerTelaInicial {
    //  background-color: rgb(209, 209, 201);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    div {
      //    border: solid red;
      width: 90%;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;

      h1 {
        font-size: 2rem;
        width: 80%;
        //   border: solid purple;
      }

      p {
        font-size: 0.75rem;
        width: 100%;
        //   border: solid red;
      }
    }

    img {
      width: 70%;
      border-radius: 100%;
    }
  }
}
