.containerTelaInicial{
    background-color: rgb (209,209,201);
    display: flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    
    
    


div{
    // border: solid yellow;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 17px;
    color: #205691;



}

h1{
   font-size: 5rem; 

//   color: #205691;
   margin-bottom:2rem ;

}

p{
    font-size: 1.5rem;
    width: 60%;
    // color: #205691;

}
}



