.navBar{
    background-color: #205691;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul{
    border: solid black;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    
}