footer{
 background-color: #205691;
 display: flex;
  justify-content: space-around;
 text-align: center;
color: antiquewhite;


 div{
 display: flex;
 justify-content: space-between;
 width: 15%;
 align-items: center;
 }



 p{
  width: 25%;
  font-weight: 400;
  text-align: center;

 }


 .navFooter{

 width: 15%;
display: flex;

 }
 
 

}



 
//--------------Responsivo------------

@media (min-width: 201px) and (max-width: 500px) {

footer{
 flex-direction: column-reverse;
height: 40vh;
 


 div{
 width: 60%;
 
 }

h2{
  font-size: 2rem;
  font-weight: 400;
}

 p{
  width: 90%;
  font-weight: 400;
 

 }


 .navFooter{

 width: 80%;


 }
 
 

}

}