.Footer{
 background-color: #205691;
 width: 100%;
    height: 65px;
    display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;



p{
    margin-top: 10px;
    font-size: 1.1rem ;
   
}

}