.boxTitulosAcoes {
 // border: solid green;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h2 {
    font-size: 3rem;
    color: #205691;
  }

  p {
    font-size: 1.5rem;
    // border: solid blue;
    width: 40%;
    text-align: center;
  }
}

.containerCardsDeAcoes {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardsDeAcoes {
  // border: solid;
  width: 26%;
  height: 40vh;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  img {
    height: 17vh;
  }

  h2{
    color: #122F97;
  }

  p {
    font-size: 1rem;
    text-align: center;
    // border: solid red;
    width: 70%;
  }

  button {
    padding: 0.5rem 1.2rem;
    color: #fff;
    background-color: #205691;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
}




